.container-fluid{
  height: 100%;
}
.flex-grow-1.row{
  height: 100%;
}

#sidebarMenu{
  color: #424449;
  border-right: gray 4px solid;
}

.nav-item{
  color: #fff;
}

p{
  margin: 0;
  padding-top: 10px;
}
